 


<div class="search-bar">
    <div class="section-search search-style-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="clearfix">
                        <form>
                            <div class="search-form pull-left">
                                <div class="search-form-inner pull-left">
                                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                                        <div class="form-group">
                                            <label>Keyword</label>
                                            <input type="text" class="form-control" placeholder="Eg Duplex , One Room , Bungalo." />
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                                        <div class="form-group">
                                            <label>Select Make</label>
                                            <select class=" form-control make">
                                                <option label="Any Make"></option>
                                                <option>BMW</option>
                                                <option>Honda </option>
                                                <option>Hyundai </option>
                                                <option>Nissan </option>
                                                <option>Mercedes Benz </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                                        <div class="form-group">
                                            <label>Select Year</label>
                                            <select class=" form-control search-year">
                                                <option label="Any Year"></option>
                                                <option>Year</option>
                                                <option>2010</option>
                                                <option>2011</option>
                                                <option>2012</option>
                                                <option>2013</option>
                                                <option>2014</option>
                                                <option>2015</option>
                                                <option>2016</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                                        <div class="form-group">
                                            <label>Select Location</label>
                                            <select class="search-loaction form-control">
                                                <option label="location"></option>
                                                <option value="0">America</option>
                                                <option value="1">Australia</option>
                                                <option value="2">Africa</option>
                                                <option value="3">Pakistan</option>
                                                <option value="4">Japan</option>
                                                <option value="5">Srilanka</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group pull-right">
                                    <button type="submit" value="submit" class="btn btn-lg btn-theme">Search Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================================../SEARCH STYLE 2================================-->
</div>