@page
@model MainExwhyzee.Web.Areas.Admin.Pages.Manage.Sub.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">ADD A NEW SUB ACCOUNT </h3>

        <h4>@TempData["error"]</h4>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubAccount.Name" class="control-label"></label>
                <input asp-for="SubAccount.Name" class="form-control" />
                <span asp-validation-for="SubAccount.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.Company" class="control-label"></label>
                <input asp-for="SubAccount.Company" class="form-control" />
                <span asp-validation-for="SubAccount.Company" class="text-danger"></span>
            </div>

                    <div class="form-group">
                        <label asp-for="SubAccount.MainUrl" class="control-label"></label>
                        <input asp-for="SubAccount.MainUrl" class="form-control" />
                        <span asp-validation-for="SubAccount.MainUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SubAccount.OtherUrl" class="control-label"></label>
                        <input asp-for="SubAccount.OtherUrl" class="form-control" />
                        <span asp-validation-for="SubAccount.OtherUrl" class="text-danger"></span>
                    </div>

            <div class="form-group">
                <label asp-for="SubAccount.Email" class="control-label"></label>
                <input asp-for="SubAccount.Email" class="form-control" />
                <span asp-validation-for="SubAccount.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.Cost" class="control-label"></label>
                <input asp-for="SubAccount.Cost" class="form-control" />
                <span asp-validation-for="SubAccount.Cost" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="SubAccount.DateExpiring" class="control-label"></label>
                <input asp-for="SubAccount.DateExpiring" class="form-control" />
                <span asp-validation-for="SubAccount.DateExpiring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.DateRenewed" class="control-label"></label>
                <input asp-for="SubAccount.DateRenewed" class="form-control" />
                <span asp-validation-for="SubAccount.DateRenewed" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="SubAccount.Description" class="control-label"></label>
                <input asp-for="SubAccount.Description" class="form-control" />
                <span asp-validation-for="SubAccount.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.Interval" class="control-label"></label>
                <input asp-for="SubAccount.Interval" class="form-control" />
                <span asp-validation-for="SubAccount.Interval" class="text-danger"></span>
            </div>
                    <div class="form-group">
                        <label asp-for="SubAccount.AccontStatus" class="control-label"></label>
                        @Html.DropDownListFor(model => model.SubAccount.AccontStatus, new SelectList(Enum.GetValues(typeof(MainExwhyzee.Domain.Models.Enum.AccontStatus))), new { @class = "form-control" })
                        <span asp-validation-for="SubAccount.AccontStatus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SubAccount.TypeOfAccount" class="control-label"></label>
                        @Html.DropDownListFor(model => model.SubAccount.TypeOfAccount, new SelectList(Enum.GetValues(typeof(MainExwhyzee.Domain.Models.Enum.TypeOfAccount))), new { @class = "form-control" })
                        <span asp-validation-for="SubAccount.TypeOfAccount" class="text-danger"></span>
                    </div>
            <div class="form-group">
                <label asp-for="SubAccount.WDAccountId" class="control-label"></label>
                        <select asp-for="SubAccount.WDAccountId" class="form-control" asp-items="ViewBag.WDAccountId"></select>
            </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
