@page
@model MainExwhyzee.Web.Areas.Admin.Pages.Manage.Sub.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">UPDATE </h3>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubAccount.Id" />
            <div class="form-group">
                <label asp-for="SubAccount.Name" class="control-label"></label>
                <input asp-for="SubAccount.Name" class="form-control" />
                <span asp-validation-for="SubAccount.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.Company" class="control-label"></label>
                <input asp-for="SubAccount.Company" class="form-control" />
                <span asp-validation-for="SubAccount.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.Email" class="control-label"></label>
                <input asp-for="SubAccount.Email" class="form-control" />
                <span asp-validation-for="SubAccount.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.Cost" class="control-label"></label>
                <input asp-for="SubAccount.Cost" class="form-control" />
                <span asp-validation-for="SubAccount.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.DateCreated" class="control-label"></label>
                <input asp-for="SubAccount.DateCreated" class="form-control" />
                <span asp-validation-for="SubAccount.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.DateExpiring" class="control-label"></label>
                <input asp-for="SubAccount.DateExpiring" class="form-control" />
                <span asp-validation-for="SubAccount.DateExpiring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.DateRenewed" class="control-label"></label>
                <input asp-for="SubAccount.DateRenewed" class="form-control" />
                <span asp-validation-for="SubAccount.DateRenewed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.Date" class="control-label"></label>
                <input asp-for="SubAccount.Date" class="form-control" />
                <span asp-validation-for="SubAccount.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.Description" class="control-label"></label>
                <input asp-for="SubAccount.Description" class="form-control" />
                <span asp-validation-for="SubAccount.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.Interval" class="control-label"></label>
                <input asp-for="SubAccount.Interval" class="form-control" />
                <span asp-validation-for="SubAccount.Interval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.AccontStatus" class="control-label"></label>
                <select asp-for="SubAccount.AccontStatus" class="form-control"></select>
                <span asp-validation-for="SubAccount.AccontStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.TypeOfAccount" class="control-label"></label>
                <select asp-for="SubAccount.TypeOfAccount" class="form-control"></select>
                <span asp-validation-for="SubAccount.TypeOfAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubAccount.AccountTypeId" class="control-label"></label>
                <select asp-for="SubAccount.AccountTypeId" class="form-control" asp-items="ViewBag.AccountTypeId"></select>
                <span asp-validation-for="SubAccount.AccountTypeId" class="text-danger"></span>
            </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-page="./Index" class="btn bg-gradient-warning btn-sm" style="float:right;">Back</a>

                    </div>
                </form>
            </div>
        </div>


        <!-- /.row -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
